<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>

        <!-- bootstrap connect -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/images/css/style.css">
</head>
<body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <div class="container">
              <h1 class="navbar-brand text-white" href="#">あいさつ</h1>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">ホーム</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about">あばうと</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="product">お品書き</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="souvenir">地域の特産品</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="greeting">あいさつ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="invitation">老人会のご案内</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


          <!-- 代表あいさつ -->
<!--     下の class="row" はグリッドシステムが作動しているコード
         <div class="greeting1" style="display: flex;">
            <img class="greeting_img img-fluid " src="../static/images/balista.jpeg" alt="your-image-description">
            <p class="gr_h2">
                朝市カフェ代表  〇〇さん<br>
                みなさんこのWEBサイトを見ていただき誠にありがとうございます。<br>
                今年も朝市カフェを出店することができ非常に嬉しく思います。<br>
                今年度はいかがお過ごしですか？私は very happy です。<br>
                皆さんもコーヒーを飲んで very happy になっちゃいましょう。
            </p>
          </div>
-->
          <div class="row">
            <div class="col-12 col-md-6">
                <img src="../static/images/balista.jpeg" alt="your-image-description" class="img-fluid">
              </div>
            <div class="col-12 col-md-6">
              <p class="gr1">   朝市カフェ代表  〇〇さん</p>
              <P class="gr2"> みなさんこのWEBサイトを見ていただき誠にありがとうございます。<br>
                今年も朝市カフェを出店することができ非常に嬉しく思います。<br>
                今年度はいかがお過ごしですか？私は very happy です。<br>
                皆さんもコーヒーを飲んで very happy になっちゃいましょう。</P>
            </div>
          </div>


              <!-- jquery connect -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
