<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>久慈市小久慈っ子</title>
    <!-- bootstrap connect -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <h1 class="navbar-brand" href="#">小久慈朝市カフェチーム</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">あばうと</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">お品書き</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">最新情報</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">老人会のご案内</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>





    <h2>小久慈町民の我々が１つ１つ丁寧にコーヒーを淹れます</h2>
    <p>一口飲んだら思わず</p>
    <h3>『じぇじぇじぇ！！』</h3>
    <p>そんな暖かいお時間をお過ごしください</p>
    <p>開催期間<br>
    7月 ~ １２月 (予定）</p>
    <img src="../static/images/elder_woman.png" class="img-fluid" alt="coffee_man">
    <img src="../static/images/elder_man.png" class="img-fluid" alt="oshibori woman">
    
    <!-- jquery connect -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<footer>
    <section id="location">
        <div class="wrapper">
            <div class="location-info">
                <h3>小久慈市民センター</h3>
                <p>
                    住所:〒028-0071<br>
                    岩手県久慈市小久慈町第21地割47-14<br>
                    営業時間:9:00 ~ 21:00<br>
                    電話番号:0194-59-3051<br>
                </p>
            </div>
            <div class="location-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8055.4965913366
                11!2d141.7365938488555!3d40.16629944309706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8494b3d6b2d5d3%3A0xf8cd19afd19410fb!2z5LmF5oWI5biCIOWwj-S5heaFiOW4guawkeOCu-ODs-OCv-ODvOODu-OCouODs-ODkOODvOODiOODlOOCog!5e0!3m2!1sen!2sjp!4v1675477788605!5m2!1sen!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <form action="example.py">
        <ul>
            <li>名前：<input type="text" placeholder="名字　名前"></li>
            <li>メールアドレス：<input type="email" placeholder=" ~ @gmail.com"></li>
            <li>ご用件：<br><textarea name="message"  cols="30" rows="10" placeholder="メッセージを入力"></textarea></li>
        </ul>
    </form>
</footer>
</html>
